[submodule "JaimeEngine/vendor/spdlog"]
	path = JaimeEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "JaimeEngine/vendor/GLFW"]
	path = JaimeEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "JaimeEngine/vendor/imgui"]
	path = JaimeEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
